<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="LOGCAT" class="ch.qos.logback.classic.android.LogcatAppender">
        <tagEncoder>
            <pattern>%logger{0}</pattern>
        </tagEncoder>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] [%logger{0}] - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="TRACE" additivity="false">
        <appender-ref ref="LOGCAT" />
    </root>
</configuration>